/*------------------*
# Variables
*------------------*/

// Breakpoints
$desktop-lg: rem(1919); // Wide Desktop Screens (Above 1680 - Large Screens)
$desktop-md: rem(1620); // Medium Desktop Screens (Like 1480 - Macbook & Macbook Pro)
$desktop-sm: rem(1420); // Small Desktop Screens
$desktop-xs: rem(1360); // Small Desktop Screens

$tablet-lg: rem(1080); // Landscape Tablet
$tablet-md: rem(991); // Portrait Medium Tablet
$tablet-sm: rem(865); // Portrait Tablet

$mobile-lg: rem(767); // Mobile Landscale
$mobile-md: rem(576); // Mobile Medium Portrait
$mobile-sm: rem(540); // Mobile Portrait

/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/

$main-head:  'CircularStd-Black';
$sub-head: 'CircularStd-Bold'; 
$font-regular: 'CircularStd-Book'; 


/*
 * Base colors
*/

$primary-color: #1DB954;
$secondary-color1: #000000;
$secondary-color2: #191414;
$secondary-color3: #FFFFFF;

$neutral-color1: #B2B2B2;
$neutral-color2: #777777;
$neutral-color3: #535353;

$genre-color1: #55A891;
$genre-color2: #27856A;
$genre-color3: #5F8109;
$genre-color4: #F037A5;
$genre-color5: #AF2896;
$genre-color6: #AF2896;
$genre-color7: #477D95;
$genre-color8: #509BF5;
$genre-color9: #1D3164;
$genre-color10: #E8115B;
$genre-color11: #E13300;
$genre-color12: #BA5D07;

$color1: #333333;
$color2: #2c2626;


