.primary-btn {
    display: inline-block;
    font-family: $font-regular;
    font-size: rem(10);
    line-height: rem(28);
    text-transform: uppercase;
    text-align: center;
    color: $secondary-color3;
    padding: 0 rem(24);
    border: 1px solid $secondary-color3;
    border-radius: rem(4);

    &:hover{
        background: $primary-color;
        color: $secondary-color3;
        border: 1px solid $primary-color;
    }
}