.popular-cards{
    overflow-x: scroll;
    white-space: nowrap;

    .popular-card{
        background: $color2;
        border-radius: rem(4);
        margin-right: rem(24);
        padding: rem(12);
        width: rem(152);
        display: inline-block;

        img{
            border-radius: rem(4);
            margin-bottom: rem(12);
        }

        h4{
            text-transform: capitalize;
            color: $secondary-color3;
            margin-bottom: 0;
        }

        span{
            font-size: rem(12);
            line-height: rem(14);
            color: $neutral-color1;
        }

        &:hover{
            h4{
                color: $primary-color;
            }
        }
    }

}